---
# Ansible Playbook for SAP Web Dispatcher installation

# Use include_role / include_tasks inside Ansible Task block, instead of using roles declaration or Task block with import_roles.
# This ensures Ansible Roles, and the tasks within, will be parsed in sequence instead of parsing at Playbook initialization.


#### Begin Infrastructure-as-Code provisioning ####
- name: Ansible Play to create dynamic inventory group for provisioning
  hosts: localhost
  gather_facts: false
  tasks:

    - name: Block to prepare inventory for provisioning
      when:
        - sap_vm_provision_iac_type in ['ansible', 'ansible_to_terraform']
        - sap_vm_provision_iac_platform != 'existing_hosts'
      vars:
        __sap_playbook_host_dictionary_name: "{{ 'sap_vm_provision_' ~ sap_vm_provision_iac_platform ~ '_host_specifications_dictionary' }}"
      block:
        - name: Assert that the variable {{ __sap_playbook_host_dictionary_name }} is defined and valid
          ansible.builtin.assert:
            that:
              - lookup('ansible.builtin.vars', __sap_playbook_host_dictionary_name) is defined
              - lookup('ansible.builtin.vars', __sap_playbook_host_dictionary_name) is mapping
              - lookup('ansible.builtin.vars', __sap_playbook_host_dictionary_name) | length > 0
            fail_msg: |
              The variable {{ __sap_playbook_host_dictionary_name }} is undefined or invalid.
              It must be a non-empty dictionary.

        - name: Assert that the variable 'sap_vm_provision_host_specification_plan' is defined and valid
          ansible.builtin.assert:
            that:
              - sap_vm_provision_host_specification_plan is defined
              - sap_vm_provision_host_specification_plan is string
              - sap_vm_provision_host_specification_plan | trim | length > 0
            fail_msg: |
              The variable 'sap_vm_provision_host_specification_plan' is undefined or invalid.
              It must be a non-empty string.

        - name: Assert that the variable 'sap_vm_provision_host_specification_plan' is present in a dictionary
          ansible.builtin.assert:
            that:
              - lookup('ansible.builtin.vars', __sap_playbook_host_dictionary_name)[sap_vm_provision_host_specification_plan] is defined
              - lookup('ansible.builtin.vars', __sap_playbook_host_dictionary_name)[sap_vm_provision_host_specification_plan] is mapping
              - lookup('ansible.builtin.vars', __sap_playbook_host_dictionary_name)[sap_vm_provision_host_specification_plan] | length > 0
            fail_msg: |
              The variable 'sap_vm_provision_host_specification_plan' is not present in a dictionary {{ __sap_playbook_host_dictionary_name }}.

        - name: Create dynamic inventory group for Ansible Role sap_vm_provision
          ansible.builtin.add_host:
            name: "{{ item }}"
            group: sap_vm_provision_target_inventory_group
          loop: "{{ lookup('ansible.builtin.vars', __sap_playbook_host_dictionary_name)[sap_vm_provision_host_specification_plan].keys() }}"


# Ansible Play target hosts pattern, use Inventory Group created by previous Ansible Task (add_host)
- name: Ansible Play to provision hosts for SAP
  hosts: sap_vm_provision_target_inventory_group
  gather_facts: false
  tasks:

    - name: Execute Ansible Role sap_vm_provision
      ansible.builtin.include_role:
        name: community.sap_infrastructure.sap_vm_provision
      when:
        - sap_vm_provision_iac_type in ['ansible', 'ansible_to_terraform']
        - sap_vm_provision_iac_platform != 'existing_hosts'


#### VM storage filesystem setup ####
- name: Ansible Play for hosts storage setup
  hosts: nwas_aas
  become: true
  any_errors_fatal: true
  max_fail_percentage: 0
  tasks:

    # Use inventory_hostname_short to retrieve host specification from the dictionary.
    # While ansible_hostname will work for Ansible only, using Ansible>Terraform may see ansible_hostname as 'localhost' and fail
    - name: Execute Ansible Role sap_storage_setup
      ansible.builtin.include_role:
        name: community.sap_install.sap_storage_setup
      vars:
        sap_playbook_host_dictionary_hostname:
          "{{ lookup('ansible.builtin.vars', 'sap_vm_provision_' + sap_vm_provision_iac_platform
           + '_host_specifications_dictionary')[sap_vm_provision_host_specification_plan][inventory_hostname_short] }}"
        sap_storage_setup_sid: "{{ sap_playbook_host_dictionary_hostname.get('sap_storage_setup_sid', (sap_system_sid | d(''))) }}"
        sap_storage_setup_host_type: "{{ sap_playbook_host_dictionary_hostname.get('sap_storage_setup_host_type', []) }}"
      when: sap_playbook_host_dictionary_hostname is defined


#### Begin downloading SAP software installation media to hosts ####
- name: Ansible Play for downloading SAP S/4HANA installation media
  hosts: nwas_aas
  become: true
  any_errors_fatal: true
  max_fail_percentage: 0
  tasks:

    # SAP software download will only occur if the 'community.sap_launchpad' collection is installed.
    # Playbook will continue without the collection, assuming SAP software is already available.
    - name: Check availability of sap_launchpad collection on execution node
      delegate_to: localhost
      become: false  # Enables usage of Python VENV
      ansible.builtin.command:
        cmd: ansible-galaxy collection list
      register: sap_playbook_collection_list_output

    - name: Execute Ansible Role sap_software_download
      ansible.builtin.include_role:
        name: community.sap_launchpad.sap_software_download
      vars:
        sap_software_download_suser_id: "{{ sap_id_user }}"
        sap_software_download_suser_password: "{{ sap_id_user_password }}"
        sap_software_download_directory: "{{ sap_install_media_detect_source_directory }}"
        sap_software_download_deduplicate: first
        sap_software_download_files: "{{ softwarecenter_search_list_x86_64[sap_playbook_webdispatcher_version]
          if ansible_architecture == 'x86_64'
          else (softwarecenter_search_list_ppc64le[sap_playbook_webdispatcher_version]
            if ansible_architecture == 'ppc64le' else '') }}"
      when: sap_playbook_collection_list_output.stdout_lines | select('search', 'community.sap_launchpad') | length > 0


#### Begin SAP software hosts preparation ####
- name: Ansible Play for preparing all SAP software hosts
  hosts: nwas_aas
  become: true
  any_errors_fatal: true
  max_fail_percentage: 0
  tasks:

    - name: Execute Ansible Role sap_general_preconfigure
      ansible.builtin.include_role:
        name: community.sap_install.sap_general_preconfigure

    - name: Execute Ansible Role sap_netweaver_preconfigure
      ansible.builtin.include_role:
        name: community.sap_install.sap_netweaver_preconfigure


#### Begin SAP software installations ####
- name: Ansible Play for SAP Web Dispatcher installation
  hosts: nwas_aas
  become: true
  any_errors_fatal: true
  max_fail_percentage: 0
  tasks:

    - name: Execute Ansible Role sap_install_media_detect
      ansible.builtin.include_role:
        name: community.sap_install.sap_install_media_detect
      vars:
        sap_install_media_detect_swpm: true
        sap_install_media_detect_hostagent: true
        sap_install_media_detect_igs: true
        sap_install_media_detect_kernel: true
        sap_install_media_detect_webdisp: true

    - name: Execute Ansible Role sap_swpm
      ansible.builtin.include_role:
        name: community.sap_install.sap_swpm
      vars:
        sap_swpm_templates_product_input: "{{ sap_software_product }}"
